// --------------------------------------------------
// Config
// --------------------------------------------------


//
// Misc
//
$dpindex: 2;

//
// Colors
// --------------------------------------------------

$black: #323233;
$white: #fff;

$color-gray: #8d8d8d;
$color-dark: #2C2C2D;
$color-primary: #AA8F5E;
$color-primary-light: #F0ECE5;
$color-beige: #F0ECE5;

