<form method="POST" action="https://formspree.io/victor@stegaru.com">
    <fieldset>
        <div>Hi, I'm <input type="text" placeholder="FIRST & LAST" name="flname"> from
        <input type="text" placeholder="COMPANY NAME" name="cname">. Please email me
        at <input type="email" placeholder="EMAIL" name="_replyto"> or call me at
        <input type="phone" placeholder="PHONE" name="phone">.</div>
        <div class="text-center">
            <input type="text" name="_gotcha" style="display:none" />
            <input type="hidden" name="_next" value="/thank-you/" />
            <button type="submit" class="button">Submit<span></span><span></span></button>
        </div>
    </fieldset>
    <div class="other-ways">
        <h4 class="hide-for-small-only">Or contact us the old fashioned way.</h4>
        <p>
            941-447-3975 <br>
            <a href="mailto:hello@ascentcollective.co">hello@ascentcollective.co</a>
        </p>
    </div>
</form>
